body {
    background: linear-gradient( #009688 15%, #d8dbd6 15%);
    height: 100vh;
}

main {
    background: white;
    height: 90%;
}


/* Immagini */

img {
    border-radius: 100%;
}

.border-radius {
    border-radius: 100%;
}

.fa-bell-slash {
    padding: 20px;
}

.w-15 {
    width: 15%;
}

.bg-image {
    background-image: url("../img/mine.jpg");
}


/* Colori e BG */

.active {
    background-color: #eaeaea;
}

.bg-lightblue {
    background-color: #8edafc;
}

.cl-lightblue {
    color: #8edafc;
}


/* Font-Size */

.fs-12px {
    font-size: 12px;
}

.fs-10px {
    font-size: 10px;
}

[class^="col"] {
    cursor: pointer;
}


/* MESSAGES */

.message {
    padding: 10px 20px;
    border-radius: 10px;
}

.bg-sent {
    background-color: #d5f9ba;
}

.sent {
    justify-content: flex-end;
}

.bg-received {
    background-color: white;
}

.received {
    justify-content: flex-start;
}

.dropdown-menu.show {
    transform: translate(64px, 26px) !important;
}