body {
    background: linear-gradient( #009688 15%, #d8dbd6 15%);
    height: 100vh;
}

main {
    background: white;
    height: 90%;
}


/* Immagini */

img {
    border-radius: 100%;
}

.border-radius {
    border-radius: 100%;
}

.fa-bell-slash {
    padding: 20px;
}

.w-15 {
    width: 15%;
}

.bg-image {
    background-image: url("../img/mine.jpg");
    height: 80%;
}


/* Colori e BG */

.bg-gray {
    background-color: #eaeaea;
}

.bg-lightblue {
    background-color: #8edafc;
}


/* Font-Size */

.fs-12px {
    font-size: 12px;
}